:root {
  --clr-neutral-900: hsl(0, 0%, 9%);
  --clr-neutral-400: hsl(210, 1%, 64%);
  --clr-neutral-100: hsl(210, 20%, 94%);

  --clr-primary: hsl(12, 74%, 50%);
}

.fancy-cards-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px 350px auto;
}

.fancy-card {
  --padding: 1rem;

  padding: var(--padding);
  display: grid;
  border: 1px solid var(--clr-neutral-400);
  border-bottom: 5px solid var(--clr-primary);
  aspect-ratio: 1 / 0.7;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1;
  position: relative;
  background-color: white;
  z-index: 1;
  transition: transform 350ms ease, background-color 350ms ease,
    color 350ms ease, z-index 0ms 75ms linear;
}

.fancy-card:hover,
.fancy-card:focus {
  background-color: var(--clr-neutral-900);
  transform: scale(1.35);
  border: 0;
  z-index: 10;
  transition: z-index 0ms 0ms ease, transform 350ms ease,
    background-color 350ms ease, color 350ms ease;
}

.fancy-card__number {
  color: var(--clr-primary);
  width: min-content;
  margin-left: auto;
}

.fancy-card__title {
  width: min-content;
  margin: auto auto 0px 0px;
}

.fancy-card::before,
.fancy-card::after {
  content: "";
  position: absolute;
  inset: 0;
}

.fancy-card::before {
  pointer-events: none;
  opacity: 0;

  background: black;
  filter: blur(2em);
  z-index: -5;
  transition: transform 350ms ease, opacity 350ms ease;
}

.fancy-card::after {
  z-index: -2;
  background: white;
  transition: background-color 350ms ease;
}

.fancy-card:hover::before,
.fancy-card:focus::before {
  opacity: 0.3;
  transform: translate(-50%, 50%);
}

.fancy-card:hover::after,
.fancy-card:focus::after {
  background-color: var(--clr-neutral-900);
}

.fancy-card:hover,
.fancy-card:focus {
  background-color: var(--clr-neutral-900);
  transform: scale(1.35);
  border: 0;
  animation: shake 500ms 350ms forwards;
}

.fancy-card:hover .fancy-card__title,
.fancy-card:focus .fancy-card__title {
  color: var(--clr-neutral-100);
}

.fancy-card .fancy-card__arrow {
  font-size: 2rem;
  color: var(--clr-primary);
  position: absolute;
  inset: auto var(--padding) var(--padding) auto;
  opacity: 0;
  transform: translateX(-50%);
  transition: transform 200ms ease-in, opacity 200ms linear;
}

.fancy-card:hover .fancy-card__arrow,
.fancy-card:focus .fancy-card__arrow {
  opacity: 1;
  transform: translateX(0);
}

.fancy-card__image {
  position: absolute;
  z-index: -2;
  bottom: 0;
  max-width: 70%;
  max-height: 70%;
}

.fancy-card:hover .fancy-card__image,
.fancy-card:focus .fancy-card__image {
  transform: rotate(10deg) translate(50%, 50%);
  transition: transform 150ms ease;
}

.fancy-card:hover .fancy-card__image:nth-of-type(1),
.fancy-card:focus .fancy-card__image:nth-of-type(1) {
  transform: translate(200%, -10%) rotate(10deg);
  transition-delay: 600ms;
}
.fancy-card:hover .fancy-card__image:nth-of-type(2),
.fancy-card:focus .fancy-card__image:nth-of-type(2) {
  transform: translate(120%, 80%) rotate(-10deg);
  transition-delay: 700ms;
}
.fancy-card:hover .fancy-card__image:nth-of-type(3),
.fancy-card:focus .fancy-card__image:nth-of-type(3) {
  transform: translate(0%, 90%) rotate(5deg);
  transition-delay: 800ms;
}
.fancy-card:hover .fancy-card__image:nth-of-type(4),
.fancy-card:focus .fancy-card__image:nth-of-type(4) {
  transform: translate(-100%, 50%) rotate(-15deg);
  transition-delay: 900ms;
}
.fancy-card:hover .fancy-card__image:nth-of-type(5),
.fancy-card:focus .fancy-card__image:nth-of-type(5) {
  transform: translate(-90%, -50%) rotate(5deg);
  transition-delay: 1000ms;
}

@keyframes shake {
  0% {
    transform: scale(1.35) rotate(0deg);
  }
  25% {
    transform: scale(1.35) rotate(5deg);
  }
  40% {
    transform: scale(1.35) rotate(-5deg);
  }
  50% {
    transform: scale(1.35) rotate(2deg);
  }
  60% {
    transform: scale(1.35) rotate(-5deg);
  }
  75% {
    transform: scale(1.35) rotate(-2deg);
  }
  100% {
    transform: scale(1.35) rotate(0deg);
  }
}
