.project-cards-grid {
  --clr-primary: #242424;
  --clr-neutral-400: hsl(210, 1%, 64%);
  --clr-neutral-100: hsl(210, 20%, 94%);

  --clr-highlight: #de4721;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 200px 500px auto;
  z-index: 100;
}
