.navMenu {
  position: fixed;
  right: 0px;
  top: 10px;
  padding-top: 20px;
  padding-right: 15px;
  background: #242424;
  padding-left: 15px;
  padding-bottom: 25px;
  border-radius: 200px 0px 0px 100%;
  height: fit-content;
  transition: border-radius 0.2s ease-in-out, padding-right 0.2s ease-in-out;
}

.navMenu--closeMenu:hover {
  background: #585858;
}

.navMenu--closeMenu {
  border-radius: 90px 0px 0px 90px;
  padding-right: 2px;
}

.navMenu__toggle {
  width: 30px;
  height: 25px;
  object-fit: contain;
  display: block;
  margin: auto 0px -10px auto;
}

.navMenu__content {
  margin-top: 15px;
  margin-right: 0px;
  opacity: 1;
  transition: margin-right 0.2s ease-in-out, opacity 0.3s ease-in-out,
    height 0.2s;

  height: 400px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.navMenu--closeContent {
  margin-right: -500px;
  opacity: 0;
  height: 0px;
}

.navMenu__option {
  display: block;
  text-align: right;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  margin: 7px auto;
  padding-left: 5px;

  transition: padding-left 0.05s ease-in-out, padding-right 0.05s ease-in-out;

  position: relative;
  padding: 0.4rem 0.6rem;
  color: var(--inv);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  margin-right: 0px;
}

.navMenu__option:hover {
  color: var(--def);
  transition-delay: 0.5s;
}

.navMenu__option:hover:before {
  transition-delay: 0s;
}

.navMenu__option:hover:after {
  background: var(--inv);
  transition-delay: 0.35s;
}

.navMenu__option:before,
.navMenu__option:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.navMenu__option:hover:before {
  transition-delay: 0s;
}

.navMenu__option:hover:after {
  background: var(--inv);
  transition-delay: 0.35s;
}

.navMenu__optionImage {
  font-size: 1.5rem;
}

.navMenu__optionText {
  font-weight: bold;
}

/*right anim*/
.from-right:before,
.from-right:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-right:before {
  left: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.from-right:after {
  right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
  width: 100%;
}
/**/
.navMenu__content,
.navMenu__content:before,
.navMenu__content:after {
  box-sizing: border-box;
}

body {
  --def: #242424;
  --inv: #fff;
}
