.project-card {
  --padding: 1rem;

  max-width: 450px;
  margin: auto;
  padding: var(--padding);
  display: grid;
  border: 1px solid var(--clr-neutral-400);
  border-bottom: 5px solid var(--clr-highlight);
  aspect-ratio: 1 / 0.7;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1;
  position: relative;
  background-color: white;
  z-index: 1;
  transition: transform 350ms ease, background-color 350ms ease,
    color 350ms ease, z-index 0ms 75ms linear;
}

.project-card:hover,
.project-card:focus {
  background-color: var(--clr-primary);
  transform: scale(1.35);
  border: 0;
  z-index: 10;
  transition: z-index 0ms 0ms ease, transform 350ms ease,
    background-color 350ms ease, color 350ms ease;
}

.project-card__number {
  color: var(--clr-highlight);
  width: min-content;
  margin-left: auto;
}

.project-card__title {
  width: min-content;
  margin: auto auto 0px 0px;
}

.project-card::before,
.project-card::after {
  content: "";
  position: absolute;
  inset: 0;
}

.project-card::before {
  pointer-events: none;
  opacity: 0;

  background: black;
  filter: blur(2em);
  z-index: -5;
  transition: transform 350ms ease, opacity 350ms ease;
}

.project-card::after {
  z-index: -2;
  background: white;
  transition: background-color 350ms ease;
}

.project-card:hover::before,
.project-card:focus::before {
  opacity: 0.3;
  transform: translate(-50%, 50%);
}

.project-card:hover::after,
.project-card:focus::after {
  background-color: var(--clr-primary);
}

.project-card:hover,
.project-card:focus {
  background-color: var(--clr-primary);
  transform: scale(1.35);
  border: 0;
}

.project-card:hover .project-card__title,
.project-card:focus .project-card__title {
  color: var(--clr-neutral-100);
}

.project-card .project-card__buttons-container {
  display: block;
  font-size: 2rem;
  color: var(--clr-primary);
  inset: auto var(--padding) var(--padding) auto;
  opacity: 0;
  transform: translateX(-50%);
  transition: transform 200ms ease-in, opacity 200ms linear;
}

.project-card:hover .project-card__buttons-container,
.project-card:focus .project-card__buttons-container {
  opacity: 1;
  transform: translateX(0);
}

.project-card__content-container {
  display: flex;
  margin: auto 0px 0px;
}
