* {
  margin: 0px;
  scroll-behavior: smooth;
  cursor: url(assets/Images/cursers/auto.png), auto;
}

.onHover--pointer {
  margin: 0px;
  cursor: url(assets/Images/cursers/pointer.png), pointer;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir", "SF Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}
