.contact {
  margin-top: 100px;
}

.multi-step-form {
  overflow: hidden;
  position: relative;
  height: 850px;
  width: 100%;
}

.contact__source-container {
  margin: 250px auto -150px;
}

.contact__confirmation-icon {
  margin: 50px auto 40px;
  font-size: 40px;
  color: #de4721;
  display: block;
}
