.multi-step-form {
  overflow: hidden;
  position: relative;
  height: 900px;
  width: 100%;
}
/*.multi-step-form {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 300%;
  margin-left: -100%;
}
*/
